.DS_Store
.env
/node_modules/
.vscode
.vercel
.wrangler


# React Router
/.react-router/
/build/

.env.*
.intlayer
/app/generated/prisma

.claude/PROMPT.md
.cache/tsbuildinfo/

tsconfig.cloudflare.tsbuildinfo
tsconfig.node.tsbuildinfo
