@import "@fontsource/pretendard/100.css";
@import "@fontsource/pretendard/200.css";
@import "@fontsource/pretendard/300.css";
@import "@fontsource/pretendard/400.css";
@import "@fontsource/pretendard/500.css";
@import "@fontsource/pretendard/600.css";
@import "@fontsource/pretendard/700.css";
@import "@fontsource/pretendard/800.css";
@import "@fontsource/pretendard/900.css";

@theme {
	--font-pretendard: "Pretendard", sans-serif;
	--font-jalnan: "Jalnan", sans-serif;
	--font-jalnan-gothic: "JalnanGothic", sans-serif;
}

@font-face {
	font-family: 'Jalnan';
	src: url('/fonts/Jalnan2TTF.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JalnanGothic';
	src: url('/fonts/JalnanGothicTTF.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}