/* Supports weights 200-900 */
@import "@fontsource-variable/nunito-sans";

/* Supports weights 100-900 */
@import "@fontsource-variable/raleway";

@theme {
	/* --font-pretendard: "Pretendard", sans-serif; */
	--font-pretendard: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	--font-nunito: "Nunito Sans Variable", sans-serif;
	--font-raleway: "Raleway Variable", sans-serif;
}